
@import 'variables';

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: $TextColorOne;
    #section-two{
        color: $TextColortwo;
    }
    div{
        #p1{
            @include text(aqua)
        }
        #p2{
            @include text(pink)
        }
        #p3{
            @include text(yellow)
        }
    }
}